{% extends 'mailing/base.html' %}

{% block content %}



<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">


    {% for object in object_list %}

    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.email }}</h4>
            </div>
            <div class="card-body">

                <ul class="list-unstyled mt-3 mb-4">
                    <li>Статус: {{ object.is_active }}</li>

                </ul>


            </div>
            <div class="card-footer">
                <a href="{% url 'users:edit'  object.pk %}" type="button"
                   class="w-100 btn btn-lg btn-outline-primary">Подробно</a>
            </div>

        </div>
    </div>

    {% endfor%}
</div>
{% endblock %}